@charset "utf-8";
@author "AlineZenker";


body{
    background-color: aliceblue;
    display: flex;   
    
}

canvas{
    background-color: azure;
    margin: 0 auto;
    border: 4px solid silver;
}