@charset "UTF-8";
@author "Willian Chagas";

body{
    background-color: cadetblue;
    display: flex;
    
}


canvas{
    margin:0 auto;
    background-color: forestgreen;
    border: 2px solid silver
        ;
}