@charset "UTF-8";

body{
	display:flex;
	align-items:space-around;
	justify-content:space-around;
	background-color: #0aa4dd;
	
	
}

#principal{
	width: 98%;
	height: 98%;
	background-color: white;
	position:absolute;
	

	
}

#cabecalho{
	width: 100%;
	height: 15%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#superior{
	width: 97%;
	height: 70%;
	background-color: #0aa4dd;
}

#meio{
	width: 100%;
	height: 70%;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

#esquerda{ 
	width: 20% ;
	height: 90%;
	background-color: #17ed92;
	border: 2px solid #0aa4dd;
	
}

#contexto{
	width: 50%;
	height: 90%;
	background-color: #dd268f;
	border: 2px solid #0aa4dd;
	align-items: flex-end;
}


#direita{
	width: 20% ;
	height: 90%;
	background-color: #17ed92;
	border: 2px solid #0aa4dd;
}

#inferior{
	width: 100%;
	height: 15%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#rodape{
	width: 97%;
	height: 70%;
	background-color: #0aa4dd;
	
	
}












