@charset "utf-8";

*{
    margin: 0;

    padding: 0;
    
}

body{
    width:1280px;
    height: 720px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    min-width: 1180px; 
}

#principal{
    width:1280px;
    height: 720px;
    display: flex;
    position: absolute;
    flex-direction: column
}

#cabecalho{
    min-width: 1180px;
    height: 120px;
}

#menu{
    min-width: 1180px;
    width: 1200px;
    height: 35px;
    left: 60px;
    position: absolute;
    top: 70px;
    background: -moz-linear-gradient(top, #D9261E, #AB231F 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9261E), color-stop(0.9, #AB231F) );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9261E, endColorstr=#AB231F)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9261E, endColorstr=#AB231F);
    text-align: right;
    margin-top: 0px;
    -moz-box-shadow: 0px -3px 2px #666,0px 5px 3px #ccc;
    box-shadow: 0px -3px 2px #666, 0px 5px 3px #ccc;
    webkit-box-shadow: 0px -3px 2px #666,0px 5px 3px #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-top-left-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -o-border-top-left-radius: 20px;
    -o-border-top-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -ms-border-top-left-radius: 20px;
    -ms-border-top-right-radius: 20px;
}

.menu_txt{
    font-family: Calibri;
    margin-top:0px;
}

.link_menu{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 3px #600;
    font-size: 15px;
    color: #eee;
    text-decoration: none;
    margin-left: 17px;
    margin-right: 15px;
}

#contato{
    width: 540px;
    height: 45px;
    position: absolute;
    left: 720px;
    margin-top: 10px;
    overflow: hidden;
    background: #999;
    background-image: linear-gradient(left , rgb(230,230,230) 11%, rgb(250,250,250) 56%);
    background-image: -o-linear-gradient(left , rgb(230,230,230) 11%, rgb(250,250,250) 56%);
    background-image: -moz-linear-gradient(left , rgb(230,230,230) 11%, rgb(250,250,250) 56%);
    background-image: -webkit-linear-gradient(left , rgb(230,230,230) 11%, rgb(250,250,250) 56%);
    background-image: -ms-linear-gradient(left , rgb(230,230,230) 11%, rgb(250,250,250) 56%);
}

#barra_t{
    background: #666;
    width: 489px;
    height: 3px;
    position: absolute;
    left: 140px;
    top: 1;
    padding: 25px;
    
    background-image: linear-gradient(right , rgb(56,56,56) 11%, rgb(189,189,189) 56%);
    background-image: -o-linear-gradient(right , rgb(56,56,56) 11%, rgb(189,189,189) 56%);
    background-image: -moz-linear-gradient(right , rgb(56,56,56) 11%, rgb(189,189,189) 56%);
    background-image: -webkit-linear-gradient(right , rgb(56,56,56) 11%, rgb(189,189,189) 56%);
    background-image: -ms-linear-gradient(right , rgb(56,56,56) 11%, rgb(189,189,189) 56%);
}

#atendimento{
    width: 140px;
    height: 50px;
    position: absolute;
    left: 580px;
    padding-top: 5px;
    margin-top: 5px;
    background: -moz-linear-gradient(top, #D9261E, #AB231F 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9261E), color-stop(0.9, #AB231F) );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9261E, endColorstr=#AB231F)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9261E, endColorstr=#AB231F);
    -moz-box-shadow: 0px -3px 2px #666,0px 5px 3px #ccc;
    box-shadow: 0px -3px 2px #666, 0px 5px 3px #ccc;
    webkit-box-shadow: 0px -3px 2px #666,0px 5px 3px #ccc;
    -moz-border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
    border-radius: 15px 0px 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-weight: bolder;
    font-size: 17px;
    text-shadow: 1px 1px 1px #600;
}

.atend_top{
    font-weight: bold;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    
}

.link_top{
    color: #666;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #999;
}

.link_bot{
    font-size: 19px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 2px 2px 2px #999;
    color: #000;
}

#link{
    width: 100%;
    height: 45px;
    line-height: 0%;
    margin: 0 0;
    font-weight: bolder;
    color: #333;
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

#link_t{
    width: 100%;
    height: 6%;
    margin-top: 7px;
    margin-left: 80px;
    font-style: none;
    
    
}

#link_t a{
    color: #666;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #999;
    text-decoration: none;
    margin-right: 25px;
}

#link_b{
     width: 100%;
    height: 6%;
    padding-bottom: 20px;
    margin-left: 95px;
    font-style: none;
    
}

#link_b a{
    font-size: 19px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 2px 2px 2px #999;
    color: #000;
    margin-right: 40px;
    
    text-decoration: none;
}


#logo{
    width: 380px;
    height: 170px;
    left: 10px;
    top: 5px;
    position: absolute;
    z-index: 105;
}

#corpo{
    width: 1260px;
    height: 440px;
    display: flex;
    
}

#esquerdo{
    width: 194px;
    position: absolute;
    left: 40px;
    top: 130px;
    height: 430px;
    background-image: -moz-linear-gradient(top , #fff, #ddd, #fff 90%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #ddd),color-stop(1,#fff) );
    background-image: -ms-linear-gradient(left , rgb(230,230,230) 11%, rgb(250,250,250) 56%);
    -moz-box-shadow: 5px 0px 5px #666,-5px 0px 5px #666;
    box-shadow: 5px 0px 5px #666, -5px 0px 5px #666;
    -webkit-box-shadow: 5px 0px 5px #666, -5px 0px 5px #666;
}

#busca{
    width:220px;
    height:60px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:15px 15px 0px 0px;
    top:40px;
    width:220px;
    z-index:9;
    position:absolute;
    text-align: center;
    left:-12px;
    background: -moz-linear-gradient(top, #D9261E, #AB231F 90%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9261E), color-stop(0.9, #AB231F) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9261E, endColorstr=#AB231F);
    vertical-align: bottom
                    
}

p{
    padding: 8px;
}

#esquerdo form{
    padding-top: 26px;
}

#botao{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9261E), color-stop(0.9, #AB231F) );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9261E, endColorstr=#AB231F)";
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9261E, endColorstr=#AB231F)";
    font-size: 14px;
    width: 160px;
    height: 45px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    left: 18px;
    -moz-box-shadow: 2px 2px 4px #666;
    -webkit-box-shadow: 2px 2px 4px #666;
    box-shadow: 2px 2px 4px #666;
    cursor: pointer;
    margin-top: 10px;
}

.creci {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: text-top;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 1px #999;
}

.caixa_opcoes {
    width: 288px;
    height: 52px;
    margin: 10px;
    text-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    box-shadow: 2px 2px 5px #ccc;
    line-height: 22px;
    cursor: pointer;
}



.fonte_opcao {
    color: #666;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
}

.fonte_opcao_destacada {
    color: #C00;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
}

a{
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #600;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#busca2{
    width:0; 
    height:0; 
    border-left: 110px solid transparent; 
    border-right: 110px solid transparent;
    border-top: 20px solid #AC1F18;
    border-bottom: 0;
    position:absolute;
    left:-12px;
    top:100px;
    z-index:9;
}

.pesquisa_campos {
    left: 5px;
    width: 180px;
    height: 25px;
    background: -moz-linear-gradient(top , #fff, #ddd, #fff 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #ddd),color-stop(1,#fff) );
    background-image: -webkit-linear-gradient(bottom, rgb(199,199,199) 0%, rgb(250,250,250) 53%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#ddd)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCC, endColorstr=#FFF);
    border-style: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px #666;
    box-shadow: 2px -2px 2px #666;
    -webkit-box-shadow: 2px 2px 2px #666;
}



.busca_meio{
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    font-size: 24px;
    text-shadow: 1px 1px 1px #600;
    
    
}

#meio{
    width: 25%;
    height: 410px;
    margin: auto;
    position: absolute;
    left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meio p{
    padding: 3.5px;
    padding-top: 5px;
}

#direito{
    background: #fff;
    width: 650px;
    height: 372px;
    position: absolute;
    left: 350px;
    overflow: hidden;
    -moz-box-shadow: 2px 0px 10px #666,-2px 0px 10px #666;
    -webkit-box-shadow: 2px 0px 10px #666, -2px 0px 10px #666;
    box-shadow: 2px 0px 10px #666, -2px 0px 10px #666;
}

#barra{
        width: 100%;
    height: 12px;
    background: -moz-linear-gradient(top, #D9261E, #AB231F 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9261E), color-stop(0.9, #AB231F) );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9261E, endColorstr=#AB231F)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9261E, endColorstr=#AB231F);
    -moz-box-shadow: 0px 5px 3px #ccc;
    -webkit-box-shadow: 0px 5px 3px #ccc;
    box-shadow: 0px 5px 3px #ccc;
    clear: both;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#rodape font{
    margin-bottom: 10px;
    
}

.end_rua {
    font-size: 11px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;

}

.end_fone {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

.end_destaque {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: black;
}

.info_tsa {
    color: #333;
    text-shadow: 2px 2px 2px #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
}

#rodape_info{
    color: #333;
    text-shadow: 2px 2px 2px #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

